/* ----- Global Styles ------ */


/* Elements */

body { 
  margin:0px /* Required for nav bar to fill the top part of the page*/
}

h1 {
  font-size: clamp(2rem, 3.02vw, 58px); /* 58px */
  margin:0.05rem;
}

h2 {
  font-size: clamp(1.8rem, 2.6vw, 50px);
  margin:0.05rem;
  font-weight: lighter;
}

th {
  font-size: clamp(1.2rem, 1.88vw, 36px);
  margin:0.05rem;
  font-weight: lighter;
}

thead th {
    position: sticky;
    color:white;
    top: 0;
    background-color: #0d3958;
    z-index: 5;
    border-bottom: 2px solid #000000;
}


p, td {
  font-size: clamp(1rem, 1.3vw, 25px); /* 25px */
  margin:0.5rem;
}

/* Button */

.btn {
  display: inline-block;
  padding: 2vw 5vw;
  margin: 0.5rem;
  background-color: #1d5174;
  color: white;
  text-decoration: none; /* remove underline */
  border-radius: 20px;
  font-weight: bold;
  font-size:clamp(1.2rem, 1.88vw, 36px);
}

.btn:hover {
  background-color: #2d7daf;
}

.button-container {
  text-align:center;
}

/* Colour Themes */

.accent-theme {
  background-color: #16374d;
}

.background-theme {
  background-color:#d9e1e9;
}

.footer-theme {
  background-color: #000000;
}

/* Font classes */

.text-small {
  font-size: clamp(1rem, 1.04vw, 2rem); /* 20px */
}

.header-small {
  font-size: clamp(1.2rem, 1.6vw, 2rem); 
}

.page-header {
text-align:center;
margin:2vw;
}


/* Reusable sections */

.text-section {
  text-align:left;
  margin: 0.1rem 0.2rem;
  max-width:65ch;
}

.text-section h1, h2{
text-align:center
}


/* Navigation bar */

.sp-nav-header {
  margin-right: 2rem;
  flex:1;
  font-size: clamp(0.9rem, 2.5vw, 58px);
  margin: 0.5vw;
  align-content:center
}

nav {
  display: flex;
  height: auto;
  flex-grow:3;
}

nav a { /* Element used to create hyperlinks */
  text-decoration: none;
  color: #ffffff; 
  font-weight: bold;
}

nav li {
  margin:1vw;
}

nav ul { 
  gap:1.5vw;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; /* Prevents text from flowing outside of navbar*/
  list-style-type: none; /* Hides "." beside each item */
  margin: 0;
  padding-left: 1vw;
  padding-right: 5vw;
  font-size: clamp(0.9rem, 1.82vw, 1.82vw);  /* Approximately 35PX on 1920-1080 resolution, adapts for smaller resolutions*/
}

nav .btn {
  padding: 0.5vw 0.5vw;
  font-size:clamp(0.8rem, 1.88vw, 36px);
}

/* Footer bar */

.footer-main {
  display: flex; /* Lays out the content in a row */
  justify-content: space-evenly;
}

.footer-subsection {
  margin-left: 2rem;
  margin-right:2rem;
}

footer {
  display: flex;
  
  /* Ensures bar fits text while not going below a minimum height */
  min-height: 5vh;
  height: auto;
  width:100%;
  color:white;
  flex-grow:5;
}

footer p {
  margin: 0.2rem;
}

/* Index */

.index-info-section {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  gap:4vw;
  margin:1.75rem;
}

.media-section {
    display: flex;
    gap: 5vw;            /* The space between each item */
    flex-wrap: wrap;     /* Allows stacking on small screens */
    justify-content: center;
}

.media-section img {
  margin-top:2vw;
  max-width: 80%;    /* Prevent expansion */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

/* Contact us */

.contact-page {
  gap:5vw;
  margin-top:2vw;
  display:flex;
  flex-direction: column;
  align-items:center;
  flex-wrap: wrap;
}

.contact-page iframe {
  width:100%;
   
}

.contact-details {
  width: 50%;
}

.contact-form {
  text-align:center;
  width:50%;
  padding:2vw;
  margin: 1vw;
  background-color:#ffffff;
  border: 0.1vw solid #00000081;
}


/* Services */

.services-overview-section {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  gap:0vw;
  margin:1.75rem;
}

.services-table  {
  max-height: 300px;     
  overflow-y: auto;      
  border: 1px solid #000000;
  margin: 2vw 20vw;
  background-color:#ffffff
}

/* Gallery */

.gallery-section {
  margin: 3vw 3vw;
  gap: 2vw;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.gallery-thumbnail {
  height:auto;
  width: 100%;
  border-radius: 10px;
  cursor: pointer; 
  object-fit:cover;
}

/* Dark blur background */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;

  /* Fill screen with dark blur */
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.849);
  backdrop-filter: blur(8px);   
  display: none;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.lightbox:target {
  display: flex;
}

/* The expanded image */
.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* Booking */

.booking-form {
  margin:1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.booking-form td, th {
  border-bottom: none;
}

.booking-form .btn {
  text-align: center;
}

.additional-box {
  width:100%;
}

.booking-received {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}



/* make header stick at the top */
table thead th {
    position: sticky;
    top: 0;

}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem;
    border-bottom: 1px solid #000000;
}


@media (max-width: 768px) {

  nav ul {
    flex-direction: row;
    align-items: stretch; 
  }

  nav li {
    width: 100%;
  }

  nav a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.75rem 0;
  }

  .contact-details, .contact-form {
    width: 90%;
  }

}
