/* ----- Global Styles ------ */


/* Elements */
header {
  color:#ffffff
}

body { 
  margin:0px /* Required for nav bar to fill the top part of the page*/
}

h1 {
  font-size: clamp(2rem, 3.02vw, 60px); /* 58px */
  margin:0.05rem;
}

p {
  font-size: clamp(1rem, 1.3vw, 30px); /* 25px */
  margin:0.5rem;
}

nav {
  display: flex;
  min-height: 10vh;
  height: auto;
  flex-grow:3;
}

nav a { /* Element used to create hyperlinks */
  text-decoration: none;
  color: #ffffff; 
  font-weight: bold;
}

nav li {
  margin: 1vw;
}

nav ul { 
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden; /* Prevents text from flowing outside of navbar*/
  list-style-type: none; /* Hides "." beside each item */
  margin: 0;
  padding: 0;
  font-size: clamp(1rem, 1.82vw, 1.82vw);  /* Approximately 35PX on 1920-1080 resolution, adapts for smaller resolutions*/
}


footer {
  display: flex;
  
  /* Ensures bar fits text while not going below a minimum height */
  min-height: 5vh;
  height: auto;
  width:100%;
  color:white;
  flex-grow:5;
}

footer p {
  margin: 0.2rem;
}

/* ----- Classes ----- */

/* Colour Themes */

.accent-theme {
  background-color: #1d5174;
}

.background-theme {
  background-color:#d1e8ff;
}

/* Font classes */

.text-small {
  font-size: clamp(1rem, 1.04vw, 2rem); /* 20px */
}

.header-small {
  font-size: clamp(1.2rem, 1.6vw, 2rem); 
}

.main-header {
  font-weight: bold;
  margin-right: 30vw
}

.footer-main {
  display: flex; /* Lays out the content in a row */
  justify-content: center;
}

.footer-subsection {
  margin-left: 10rem;
  margin-right: 10rem;
}

/* ----- Section Classes ----- */

/* Reusable sections */

.text-section {
  text-align:center;
  margin: 0.1rem 0.2rem;
}

/* Index */

.media-section {
    display: flex;
    gap: 5vw;            /* The space between each item */
    flex-wrap: wrap;     /* Allows stacking on small screens */
    justify-content: center;
}

.media-section img {
  margin-top:2vw;
  max-width: 50%;    /* Prevent expansion */
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.index-info-section {
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  gap:4vw;
  margin:1.75rem;
  
}


/* Contact us */

.contact-page {
gap:5vw;
margin-top:2vw;
}

.contact-form {
  text-align:center;
  margin: 1vw;
}