/* ----- Global Styles ------ */


/* Elements */
header {
  color:#1F2A33
}

body { 
  margin:0px /* Required for nav bar to fill the top part of the page*/
}

/* Colour Themes */

.accent-theme {
  background-color: #2A6F97;
}

.background-theme {
  background-color:#A7C7E7;
}

/* Elements */


/* Classes */
.main-header {
  margin-right: 30vw
}

.header-text {
  font-size:1.82vw; /* Approximately 35PX on 1920-1080 resolution, adapts for smaller resolutions*/
  justify-content: left;
}

/* Navigation */
nav {
  display: flex;
  height: 10vh;
  flex-grow:3;
}

nav a {

  text-decoration: none;
  color: #1F2A33; 
  font-weight: bold;
  white-space: nowrap; /* Prevent text from overflowing outside of nav bar*/
}

nav li {
  margin: 1vw;
 
}

nav ul { 
  display: flex;
  list-style-type: none; 
  margin: 0;
  padding: 0;
  font-size: clamp(1rem, 1.82vw, 3rem);
}
